@mixin item($size) {
  width: $size;
  height: $size;
  padding: 1px 8px;
  color: var(--input-color);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 4px;
}

.page_item {
  @include item(24px);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: -1px;
    height: 1px;
    background: var(--input-color);
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  &:hover::after {
    transform: scaleX(1); 
  }
}

.page_previous {
  @include item(20px);
  margin-right: 20px;

  &:hover {
    background: var(--button-background);
    border-radius: 4px;
  }
}

.page_next {
  @include item(20px);
  margin-left: 20px;

  &:hover {
    background: var(--button-background);
    border-radius: 4px;
  }
}

.active {
  background: var(--button-background);
  border-radius: 4px;
  font-weight: 500;
}
