.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-black);
}

.icon_logo {
  width: 91px;
  height: 20px;
}

.button_theme {
  width: 40px;
  height: 40px;
  background: var(--secondary-black);
  border: none;
  border-radius: 50%;

  .icon_sun {
    width: 20px;
    height: 20px;
  }
}