@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 100vw;
  min-height: 100vh;
  background: var(--background-color);
  padding-bottom: 40px;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .body {
    padding-bottom: 20px;
  }
}
