:root {
  --primary-white: #ffffff;
  --primary-black: #121212;
  --primary-light-gray: #dedede;
  --primary-dark-gray: #575757;

  --secondary-white: #fcfcfc;
  --secondary-black: #1a1818;
  --secondary-gray: #9c9c9c;
  --accent-red: #9b4b4b;
  --accent-gold: #ab8956;
  --hover-gray: #f3f3f3;
  --hover-dark: #1b1b1b;
}

.dark {
  --text-color: var(--primary-white);
  --background-color: var(--primary-black);
  --accent-color: var(--accent-gold);
  --button-background: var(--secondary-black);
  --button-background-hover: var(--hover-dark);
  --placeholder-color: var(--primary-dark-gray);
  --input-color: var(--primary-light-gray);
  --imgUrl: url("../../public/assets/icon_search.svg");
  --icon_close: url("../../public/assets/icon_close.svg");
  --border_search: none;
}

.light {
  --text-color: var(--primary-black);
  --background-color: var(--primary-white);
  --accent-color: var(--accent-red);
  --button-background: var(--secondary-white);
  --button-background-hover: var(--hover-gray);
  --placeholder-color: var(--primary-light-gray);
  --input-color: var(--primary-dark-gray);
  --imgUrl: url("../../public/assets/icon_searсh_light.svg");
  --icon_close: url("../../public/assets/icon_close_light.svg");
  --border_search: 1px, solid, var(--placeholder-color);
}
